.u-font-size--xxl {
  font-size: $font-size--xxl;
}

.u-font-size--xl {
  font-size: $font-size--xl;
}

.u-font-size--l {
  font-size: $font-size--l;
}

.u-font-size--m {
  font-size: $font-size--m;
}

.u-font-size--s {
  font-size: $font-size--s;
}

.u-font-size--xs {
  font-size: $font-size--xs;
}

.u-font-size--xxs {
  font-size: $font-size--xxs;
}
