/* text alignment */

.u-textAlign--l{
  text-align: left;
}

.u-textAlign--r{
  text-align: right;
}

/* floats */

.u-float--l {
  float: left;
}

.u-float--r {
  float: right;
}

.u-cf {
  clear: both;
}

.u-hide {
  display: none;
}
