/* margin left */

.u-marginLeft--l {
  margin-left: $spacing-unit * 4;
}

.u-marginLeft--m {
  margin-left: $spacing-unit * 2;
}

.u-marginLeft--s {
  margin-left: $spacing-unit;
}

/* margin right */

.u-marginRight--l {
  margin-right: $spacing-unit * 4;
}

.u-marginRight--m {
  margin-right: $spacing-unit * 2;
}

.u-marginRight--s {
  margin-right: $spacing-unit;
}

/* margin top */


.u-marginTop-l {
  margin-top: $spacing-unit * 4;
}

.u-marginTop--m {
  margin-top: $spacing-unit * 2;
}

.u-marginTop--s {
  margin-top: $spacing-unit;
}


/* margin bottom */


.u-marginBottom-l {
  margin-bottom: $spacing-unit * 4;
}

.u-marginBottom--m {
  margin-bottom: $spacing-unit * 2;
}

.u-marginBottom--s {
  margin-bottom: $spacing-unit;
}
