/* padding left */

.u-paddingLeft--l {
  padding-left: $spacing-unit * 4;
}

.u-paddingLeft--m {
  padding-left: $spacing-unit * 2;
}

.u-paddingLeft--s {
  padding-left: $spacing-unit;
}

/* padding right */

.u-paddingRight--l {
  padding-right: $spacing-unit * 4;
}

.u-paddingRight--m {
  padding-right: $spacing-unit * 2;
}

.u-paddingRight--s {
  padding-right: $spacing-unit;
}

/* padding top */


.u-paddingTop-l {
  padding-top: $spacing-unit * 4;
}

.u-paddingTop--m {
  padding-top: $spacing-unit * 2;
}

.u-paddingTop--s {
  padding-top: $spacing-unit;
}


/* padding bottom */


.u-paddingBottom-l {
  padding-bottom: $spacing-unit * 4;
}

.u-paddingBottom--m {
  padding-bottom: $spacing-unit * 2;
}

.u-paddingBottom--s {
  padding-bottom: $spacing-unit;
}
