/* Layout */

.container {
	height: 100vh;
	overflow: hidden;
}

/* Off Canvas Menu left */

.menuTop {
	height: 120px;
}

ul.menuList {
  font-size: $font-size--xs;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuList__item {
  padding: 14px 0;
  border-left: solid 4px $color--darker-still;

  &:hover, &:active, &.active {
    background: $color--darker-still;
    border-left: solid 4px $color--brand-blue;
  }
}

.menuList-link {
  color: $color--white;
  text-decoration: none;
  padding: 0 15px;
}

a .menuList-link:active, a.menuList-link:hover {
  color: $color--white;
}


/* Proposal Form Header */

.header {
	background: $color--white;
}

.headerTop {
	height: 60px;
}

.headerMiddle {
	background: $color--darker;
	color: $color--white;
  font-size: $font-size--xs;
  height: 44px;
}

.headerBottom {
	height: 8px;
	background: $color--success;
}


/* Proposal Form main content area */

.form {
	clear: both;
	overflow: auto;
}

.content {
	background: $color--white;
	float: left;
	width: 60%;
  height: 85vh; //fix this little hack
}

.sidebar {
	background: #F6F9FB;
	float: left;
	width: 40%;
  height: 85vh; //fix this little hack
}

@media all and (max-width: 1000px) {
	.content {
		width: 100%;
	}

  .sidebar {
    display: none;
  }
}

/* Responsive Buttons: these need to be made specific to the proposal form building */

.Icon {
  display: none;
}

@media all and (max-width: 600px) {

  .Button--secondary {
    display: none;
  }

  .Icon {
    display: block;
  }

}

/*
 * Transitions
 */

.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .2s;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/*
 * Page wrap
 */

.pagewrap{
  overflow: hidden;
	margin-left: 180px
}

.offcanvas-hidden{
  .pagewrap{
		margin-left: 0px
  }
}

/*
 * Offcanvas
 */

.offcanvas{
  /* This is !important to include */
  width: 180px;
  height: 100%;
	overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
	color: $color--gray-light;
  background: $color--darker;
  z-index: 5000;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);

}

@media all and (max-width: 600px) {

	.pagewrap {
		margin-left: 50px
	}
	.offcanvas{
		width: 50px;
	}

	.offcanvas-hidden{
	  .pagewrap{
		margin-left: 0px
	  }
	}

	.menuList-text {
		display: none;
	}
}

@media all and (min-width: 600px) {
	i.menuList-icon {
		display: none;
	}
}

.offcanvas-hidden{
  .offcanvas{
    /* This is !important to include */
		-webkit-transform: translateX(-180px);
		-ms-transform: translateX(-180px);
		transform: translateX(-180px);
  }
}

/*
 * Offcanvas toggle
 */

.offcanvas-toggle{
  background-color: transparent;
  border: 0;

  &:focus{
    outline: none;
  }
}
