// Global colors
$color--white: #ffffff !default;
$color--darker-still: #1B202F !default;
$color--darker: #253142 !default;
$color--gray-dark: #37474F !default;
$color--gray-light: #9ea3a6 !default;
$color-gray-light: #DFE9F2 !default;;

$color--brand-blue: #4A8CFF !default;
$color--success: #3AD283 !default;
