<nav class="offcanvas menu" role="navigation">
    <div class="menuTop">

    </div>
      <ul class="menuList">
        <li class="menuList__item active">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--company-info"></i>
                <span class="menuList-text">Company Info</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--pitch"></i>
                <span class="menuList-text">Pitch</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
              <i class="menuList-icon menuList-icon--team"></i>
              <span class="menuList-text">Team</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--docs"></i>
                <span class="menuList-text">Documents</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--images"></i>
                <span class="menuList-text">Images &amp; Videos</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--packages"></i>
                <span class="menuList-text">Packages</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--extras"></i>
                <span class="menuList-text">Payments</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--payments"></i>
                <span class="menuList-text">Boosters</span>
            </a>
        </li>
        <li class="menuList__item">
            <a class="menuList-link" href="#">
                <i class="menuList-icon menuList-icon--publish"></i>
                <span class="menuList-text">Publish</span>
            </a>
        </li>
      </ul>
</nav><!-- /.offcanvas menu -->
