<nav class="offcanvas menu" role="navigation">
    <div class="menuTop">

    </div>
      <ul class="menuList">
        <li class="menuList__item active"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">build</i><span class="menuList-text">Company Info</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">share</i><span class="menuList-text">Pitch</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">build</i><span class="menuList-text">Team</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">description</i><span class="menuList-text">Documents</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">collections</i><span class="menuList-text">Images &amp; Videos</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">content_copy</i><span class="menuList-text">Packages</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">payment</i><span class="menuList-text">Payments</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">trending_up</i><span class="menuList-text">Boosters</span></a></li>
        <li class="menuList__item"><a class="menuList-link" href="#"><i class="menuList-icon material-icons md-18">publish</i><span class="menuList-text">Publish</span></a></li>
      </ul>
</nav><!-- /.offcanvas menu -->
