<section class="sidebar u-padding-m" id="sidebar" role="complementary">
    <div class="o-flex u-marginTop--m">
        <div class="u-marginRight--s">
            <div class="Avatar Avatar--round Avatar--xs">
                <div class="Avatar--initials">OJ</div>
                <div class="Avatar--img Avatar--round" style="background-image: url('images/oj.jpg')"></div>
            </div>
        </div>
        <div class="o-flex-1">
            <div class="Alert Alert--assistant">
            Pro and Global Pro can use the company names in the title and proposal if they wish. Novice proposals must use an anonymous title (i.e. no company name, product name or web domain).
            </div>
        </div>
    </div>
</section><!-- /.sidebar -->
