<header class="header" id="header">
  <div class="headerTop">
      <div class="u-float--l">
          <button class="offcanvas-toggle u-paddingLeft--m u-paddingTop--m u-paddingBottom--s"><i class="material-icons">menu</i></button>
      </div>
      <div class="u-float--r u-paddingRight--m u-paddingTop--s u-paddingBottom--s">

          <div class="u-float--l u-marginRight--s">
              <button href="#" class="Button Button--secondary Button--m">Preview Proposal</button>
              <button class="Icon Icon--m Button Button--secondary Button--icon"><i class="material-icons md-18">remove_red_eye</i></button>
          </div>
          <div class="u-float--r">
              <button href="#" class="Button Button--primary Button--m">Publish</button>
          </div>
      </div>
  </div>
  <div class="headerMiddle u-paddingLeft--m u-paddingRight--m u-cf">
      <div class="u-paddingTop--s u-paddingBottom--s u-float--l">Company Info</div>
      <div class="u-paddingTop--s u-paddingBottom--s u-float--r">
          <a class="" href="#">Back to dashboard</a>
      </div>
  </div>
  <div class="Progress-bar">
    <div class="Progress-bar__left"></div>
    <div class="Progress-bar__right"></div>
  </div>
</header><!-- /.header -->
