{{ partial "header.html" . }}

    <div class="container">

		<div class="pagewrap">


    {{ partial "top-bar.html" . }}


				<div class="form u-cf">

            <section class="content u-padding-m" id="content" role="main">

                <div class="u-cf">
                    <div class="u-float--l">
                      <label class="Form-label" for="textInput">Proposal Title</label>
                    </div>
                    <div class="u-float--r">
                      <time class="u-font-size--xxs u-color-grey-warm">75 Remaining</time>
                    </div>
                    <input class="Input Input--default Input--m" type="text" placeholder="Proposal Title" id="textInput">
                </div>

                <div class="u-cf u-marginTop-s">
                    <div class="u-float--l">
                      <label class="Form-label" for="textInput">Company Name</label>
                    </div>
                    <div class="u-float--r">
                      <time class="u-font-size--xxs u-color-grey-warm">75 Remaining</time>
                    </div>
                    <input class="Input Input--default Input--m" type="text" placeholder="Company Name" id="textInput">
                </div>

                <div class="u-cf u-marginTop-s">
                    <div class="u-float--l">
                      <label class="Form-label" for="textInput">Website <span>(Optional)</span></label>
                    </div>
                    <div class="u-float--r">
                      <time class="u-font-size--xxs u-color-grey-warm">75 Remaining</time>
                    </div>
                    <input class="Input Input--default Input--m" type="text" placeholder="Website" id="textInput">
                </div>

                <div class="u-marginTop-s">
                    <label class="Form-label" for="textInput">Where is your company based?</label>
                    <div class="Select Select--default Select--m">
                        <select name="" id="">
                            <option value="">London</option>
                            <option value="">New York</option>
                            <option value="">Paris</option>
                        </select>
                    </div>
                </div>

                <div class="u-marginTop-s">
                    <label class="Form-label" for="textInput">Industry 1</label>
                    <div class="Select Select--default Select--m">
                        <select name="" id="" placeholder="select">
                            <option value="">Internet, eCommerce &amp; Apps</option>
                            <option value="">Agriculture</option>
                            <option value="">Tech</option>
                        </select>
                    </div>
                </div>

                <div class="u-marginTop-s">
                    <label class="Form-label" for="textInput">Industry 2</label>
                    <div class="Select Select--default Select--m">
                        <select name="" id="">
                            <option value="">Agriculture</option>
                            <option value="">New York</option>
                            <option value="">Paris</option>
                        </select>
                    </div>
                </div>

                <div class="u-marginTop-s">
                    <label class="Form-label" for="textInput">Stage</label>
                    <div class="Select Select--default Select--m">
                        <select name="" id="">
                            <option value="">Pre-startup/R&amp;D</option>
                            <option value="">New York</option>
                            <option value="">Paris</option>
                        </select>
                    </div>
                </div>

                <div class="u-marginTop-s">
                    <label class="Form-label" for="textInput">Ideal Investor Role</label>
                    <div class="Select Select--default Select--m">
                        <select name="" id="">
                            <option value="">Advisor</option>
                            <option value="">New York</option>
                            <option value="">Paris</option>
                        </select>
                    </div>
                </div>

                <div class="u-container-white-border u-marginTop-l">
                  <div class="u-padding-m">
                      <label class="Form-label" for="textInput">If you did a previous round, how much did you raise?</label>
                      <div class="Select-group Select-group--l">
                          <span class="Input-group__addon">£</span>
                          <div class="Select Select--default Select--m">
                              <select name="" id="">
                                  <option value="">0</option>
                                  <option value="">100</option>
                                  <option value="">200</option>
                              </select>
                          </div>
                      </div>
                      <div class="u-marginTop-s">
                          <label class="Form-label" for="textInput">How much are you raising in total?</label>
                          <div class="Select-group Select-group--l">
                              <span class="Input-group__addon">£</span>
                              <div class="Select Select--default Select--m">
                                  <select name="" id="">
                                    <option value="">0</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="u-marginTop-s">
                          <label class="Form-label" for="textInput">How much of this total have you raised?</label>
                          <div class="Select-group Select-group--l">
                              <span class="Input-group__addon">£</span>
                              <div class="Select Select--default Select--m">
                                  <select name="" id="">
                                    <option value="">0</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                      <div class="u-marginTop-s">
                          <label class="Form-label" for="textInput">What is the minimum investment per investor?</label>
                          <div class="Select-group Select-group--l">
                              <span class="Input-group__addon">£</span>
                              <div class="Select Select--default Select--m">
                                  <select name="" id="">
                                      <option value="">0</option>
                                      <option value="">100</option>
                                      <option value="">200</option>
                                  </select>
                              </div>
                          </div>
                      </div>


                  </div>
                </div>

                <div class="u-marginTop-m">
                  <!-- Primary Regular Button -->
                  <button class="Button Button--primary Button--l width-100">Save &amp; Continue</button>
                  <!-- /Primary Regular Button -->
                </div>


						</section><!-- /.content -->

        {{ partial "sidebar.html" . }}

        </div>

		</div><!-- /.pagewrap -->

    {{ partial "navigation.html" . }}


</div><!-- /.container -->

{{ partial "footer.html" . }}
